.ProfileIcon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  background-position: center;

  border: 2px solid var(--background-color);
}

@media(hover: hover) {
  .NavigationItem:hover .ProfileIcon {
    border: 2px solid var(--secondary-color);
  }
}

