# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/server/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build
/client/src/secret

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/public/suspicious.svg
/client/public/suspicious.ico
/client/src/firebase/firebase-config.ts
/client/package-lock.json

/server/dist
/server/.vscode
/server/package-lock.json
/server/nodemon.json
/server/1.txt
/server/Image1.png
/server/src/config/settings.ts
/server/prodEnv.json
suspicious.png
client/.firebaserc
client/.gitignore
client/firebase.json
server/.gitignore
