.Container {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Content {
  flex-grow: 1;
  overflow: auto;
}