:root {
  --background-dark-color: #295353;
  --link-color: #447979;
  --background-color: #9ddcdc;


  --main-color: #fff4e1;
  --secondary-color: #ffebb7;


  --accent-color: #e67a7a;
  --error-color: #a84d4d;

  --disabled-color: #e8f0fe;
  --disabled-dark-color: #8a8f97;
}
