@import '../../assets/scss/buttons.scss';

.Content {
  margin: 0 auto;
  width: 80%;
  max-width: 40rem;

  .PageName {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
  }

  h1 {
    text-align: left;
    margin-top: 2rem;
  }

  .ActionButton {
    margin: 0;
  }
}

.CheckboxRow {
  margin: 1rem 0 0 1rem;
}

.Checkbox {
  margin-right: 0.5rem;
}