@import '../auth.scss';

.PasswordInput {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.ConfirmPasswordInput {
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}